.sponsor {
  padding: 20px;
  max-width: 960px;
  margin: 0 auto;
  text-align: center;

  p {
    font-size: 14px;
    color: #666;
  }

  img {
    max-width: 240px;
    padding: 20px;
    width: 100%;
  }
}