/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.layout {
  flex: none;
}

.heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
  background-color: #2a2a2a;
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.subtitle {
  font-size: 16px;
  font-weight: bold;
  color: #989898;
}

.fzj {
  display: flex;
}

.fzj img {
  width: 100%;
  max-width: 960px;
  margin: 20px auto;
  box-shadow: 0 0 3px #2a2a2a;
  border-radius: 10px;
  user-select: none;
}

@media screen and (max-width: 960px) {
  .fzj img {
    margin: 5px;
    width: calc(100% - 10px);
  }
}